#parent-div{
  background: #B2BEB5;
  border: 0.1em solid black;
}

#default{
  background: #DBE9F4;
}

#centered{
  background: #89CFF0;
  width: 50%;
  margin: auto;
}


#centered-text{
  text-align: center;
}

#top-left-pos{
  background: #89CFF0;
  border: 0.1em solid black;
  position: absolute;
  width: 200px;
  height: 100px;
  z-index: 4;
}

#bottom-right-tl-parent {
  background: #DBE9F4;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#top-right-pos{
  background: #89CFF0;
  border: 0.1em solid black;
  position: absolute;
  width: 400px;
  height: 100px;
  top: 0px;
  right: 0px;
}

#bottom-left-tr-parent {
  background: #DBE9F4;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#fixed-pos{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #DBE9F4;
  border: 0.1em solid black;
  margin: 0;
}

#relative-1{
  background: #DBE9F4;
  border: 0.1em solid black;
  height: 100px;
}

#relative-2{
  position: relative;
  left: 20px;
  top: -30px;
  width: 300px;
  background: yellow;
  border: 0.1em solid black;
}

img[src="LittleBrain.png"] {
  float: left;
  padding: 10px;
}
